body{
    margin: 0;
}
img {
    width: 20%;
}
header{
    background-color: #2f243a;
    
    margin: 0;
}
header>img{
    width: 10%;

   
}
header nav a{
    display: inline-block;
    background-color: #f7b267;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #2f243a;
    text-decoration: none;
    font-family: 'baskerville';
}
